.user-event-list-timeline-comments {
    font-size: 12px;
}

.user-event-list-checkbox {
    margin: 10px 0;
}

.user-event-list-head {
    padding: 0 20px;
}

.selected-repo-label {
    background-color: #15757b;
    color: white;
}

.selected-repo-label-close {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0 10px;
}

